---
layout: MarketplaceUXSpec
multipage: true
multiURL: current_ux.html
multisequence: current_ux
---	

<div class="container">
	
	<h1>Current UX Work</h1>

	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. -->
	{% if page.multipage %}
		{% include thirdPagination.html %}
	{% endif %}

	
	<div class="col-lg-3 box-instruct" style="margin-bottom:24px;">
	
		<p class="longText"><b>How This Page Works</b>
		</p>

		<p class="longText">We'll update this page weekly as this project continues. As each week happens, we'll add new "Week of X" content to this page. Consider this page a running record of what we're currently working on.
		</p>

		<p class="longText"><b><span class="red">The latest conversation about the project will always be in the most recent Discussion Thread</b> (click Open Issues in the topnav).</span> Join in!
		</p>
	</div>
	
	

	<!--div class="col-sm-6 col-md-6 col-lg-6 col-lg-offset-1" style="border:1px solid red;"-->

	<div class="col-sm-6 col-md-6 col-lg-7 col-lg-offset-2">
		
		<h3 class="no-top">Week of 08/11/14</h3>

		<p class="longText">We've begun 3 areas of work:

    		<ul class="longText">
    			<li>Working with MDN team to improve App Manifest instructions on MDN.</li>

    			<li>Expanding on earlier work on Manifest Builder. Manifest Builder is key to the 2 new concepts, but also helps us in the immediate/short-term to combat submission failures.
    				<ul>
    					<li style="margin-bottom:6px;">See our thinking about <a href="http://bna3a6.axshare.com">the Manifest Builder here</a>.</li>
    					<li style="margin-bottom:6px;">We are currently exploring interaction models that achieve specific goals we're focused on coming out of the research. We're also exploring best ways to collect the information for optional fields in the Manifest. </li>
    					<li style="margin-bottom:6px;"><b>NOTE</b> that these are <b>WIP interaction models</b>. They <b>are not interaction design</b>. So we're not ready for feedback about things like whether something is a dropdown or a checkbox.</li>
    				</ul>
    			</li>

    			<li>Design work for the 2 new concepts.</li>
    		</ul>

    		<p class="longText"><a href="https://docs.google.com/a/mozilla.com/document/d/1KkcmK_U4Wa74XPxLs7v08vjgSiO9KQ3HQTQ1ol_KyAI">Final recommendations for the MDN here</a>.</p>

    		<p class="longText"><a href="http://tsmuse.github.io/FirefoxMarketplaceDevPagesDesign/research_manifest_0714.html">References to all our research here</a>.</p>



		<br/><h3>Week of 07/28/14</h3>

		<p class="longText">This week we begin design on our two concepts: remote repo and dropoff service. We'll base our design work on the findings from our recent user testing. We will also be working with developers to finalize the format and instructions for the Manifest and Config files.
		</p>

		<p class="longText">We've completed testing around the Marketplace Config files. Topline findings:</p>
		
		<ol class="longText">
			<li><b>Checklist</b>. The Manifest was more difficult than the Config file for developers to produce. We believe that this is because the test instructions for the Config file were presented more explicitly as a "checklist" of stuff the developer needd to put in the Config file. Our recommendation is that we include checklists for both files on the MDN instructions. These checklists to be written as a list of questions, e.g., "When the app launches, what page should it start on? The URL to that page goes in the X field."</li>
			
			<li><b>Required fields</b>. A simple list of required fields at the top of the MDN instructions was very helpful for developers. They referred to it all the time. Some even copied it into their Config file to use as a "checklist."</li>

			<li><b>JSON validation</b>. Almost all developers made errors in their files that would result in JSON validation errors. MDN instructions should encourage (and link) to JSON validators <b>before</b> submitting to the Marketplace.</li>

			<li><b>Sample file</b>. As with the Manifest file testing, developers wanted a complete sample Config file to work with.</li>

			<li><b>Navigation</b>. The test MDN instruction page for the Config file did not include navigation (i.e., there was no table of contents side navigation). This forced developers to slow down to scan/read the content. Given the complexity and difficulty of the content, our reco is to remove the sidenav TOC from the MDN instructions for both files. The page format itself will then support the need to actually read the content. We'll test this hypothesis in our design work.</li>

		</ol> 

		<p class="longText"><b>Config File Test Data + Findings</b></p>

		<ul class="longText">
			<li><a href="https://docs.google.com/a/mozilla.com/document/d/19Lg4GWAtOELSEi3zpAlDEZbmOCC5t82wGmSc4Sl383Q">Test #2 Observations</a></li>
			<li><a href="https://docs.google.com/a/mozilla.com/spreadsheets/d/172GmDixYrvmK3Twyk9JOYxT5-woDIl26JB9vdrRhujc/edit#gid=0">Test #2 Raw Data</a></li>
		</ul>

		
		<br/><h3>Week of 07/21/14</h3>

		<p class="longText">We've completed baseline testing for developer understanding of the <b>current MDN App Manifest instructions</b>. You can find more details in the locations below. Topline findings:</p>
		
		<ol class="longText">
			<li><b>Finding strategies</b>. As we would expect, some people skimmed the content looking for words they could pick out that matched their mental models, while others searched for the same thing. Less than 10% used the navigation (sidenav) to find content.</li>
			
			<li><b>File name + format</b>. Less than 10% named the file correctly as <code>manifest.webapp</code>. <i>This is likely to be a major source of manifest validation failure</i>.</li>

			<li><b>Mental models</b>. Some of the language we use does not match people's mental models. E.g., people who searched for "translate" were unable to find the <code>locales</code> section.</li>

			<li><b>Sample content</b>. Most people copy-pasted the MDN sample content. Many of them did not change the sample content after copying it. <i>This is likely to be a major source of manifest validation failure</i>.</li>

		</ol> 

		<p class="longText"><b>Test Data + Findings</b></p>

		<ul class="longText">
			<li><a href="https://docs.google.com/a/mozilla.com/document/d/1yDLOxYnPdkVIszCv5ep49uCfWHCK6pGrSWjSCv1jGEI/edit#heading=h.kqqidg1th6bl">Test #3 Observations</a></li>
			<li><a href="https://docs.google.com/a/mozilla.com/spreadsheets/d/1zhcTOofmKh42RJNG00ia2RJa3469EazIrkqq1APPGME/edit#gid=0">Test #3 Raw Data</a></li>
			<li><a href="https://docs.google.com/a/mozilla.com/document/d/1uNWd1JGreobxFOsXb1ZN2oaLl72eMY0PJQuw3XGfxLk">Preliminary Recommendations</a> <b>Note</b>: These are preliminary, not final. We used them to re-write the MDN instructions for our next test.</li>
		</ul>

		<p class="longText">We are currently running a test with revised MDN instructions to determine if better instructions lead to better results. We're also beginning tests on the <code>config</code> file that's part of both new concepts. We'll post the results as they come in.
		</p>



		<br/><h3>Week of 07/14/14</h3>

		<p class="longText">Both of our concepts require the developer to complete the App Manifest offline using his local environment and tools. It's critical that the instructions for completeing the App Manifest are correct, clear, and well written. The instructions must also be presented in ways that make it easy for readers (developers) to quickly find and understand information within the instructions.
		</p>

		<p class="longText">We ran a series of tests to answer the following question:
		</p>
			<ol class="longText">
				
				<li>What difference does content make? For this question, we'll rewrite the App Manifest instructions on App Center to see if clearer/more concise content improves developers' ability to create a succesful App Manifest.<!-- We're also interested here in which information design tactics of the App Center page lead to the best results (App Manifest file that validates).--></li>
				
				<!--li>What difference does format make? For this question, we'll test several methods of presenting the instructions to see what impact each has on developers' ability to submit a succesfull App Manifest.</li-->

			</ol>


		
		<br/><h3>Week of 06/23/14</h3>

		<p class="longText">Following team discussions and conversations with people at App Days, we've decided to pursue two concepts in more detail:
		</p>
			<ul class="longText">
				
				<li><a href="concept_dropoff.html">Devhub as a concierge/dropoff service</a></li>
				
				<li><a href="concept_remoterepo.html">Devhub as a remote repository</a></li>

			</ul>
		
		
		<!-- section navigation here -->
		<p class="longText">In the next few weeks, we'll be doing some user testing to identify areas of focus for each concept.
		</p>

		
		<!-- LEAVE THESE BRs HERE TO PROVIDE MORE BREATHING ROOM AT BOTTOM -->
		<br/><br/>


	</div>
	
