---
layout: MarketplaceUXSpec
multipage: true
multiURL: projectAssumptions.html
multisequence: three
---	

<div class="container">
	<h1>Assumptions &amp; Hypotheses</h1>

	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. -->
	{% if page.multipage %}
		{% include homePagination.html %}
	{% endif %}
	
	<div class="col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">
		<h2>Audience</h2>
		
		<p>The primary DevHub audience consists of these users:</p>

		<ol>
			<li>Developers with existing Marketplace apps</li>
			<li>Developers who are new to Marketplace apps</li>
		</ol>
		
		<p>Additionally DevHub should support the following additional users. <b>"Support" here means that we will direct these users to the right sources of information (vs creating that content within Debvhub).</b></p>

			<ol>
				<li>Potential partners looking for information about Marketplace and/or about partnering with Mozilla</li>
				<li>General public looking for information about Marketplace</li>
			</ol>


		<h2>Things We Know</h2>
		
		<p>The following is an evolving list of things we know from our research that we are using to inform our design strategy.</p>

		<ol>
			<li>The app submission process for Marketplace (and others) is tedious and often confusing for developers.</li>
			<li>Developers want to understand submission requirements before they get involved in the submission process.</li>
			<li>Developers want better support around requirements, eg a checklist of steps to complete or a checklist of screenshot sizes.</li>
		</ol>


		<h2>Assumptions &amp; Hypotheses</h2>
	
		<p>The following is an evolving list of assumptions and hypotheses that we are using to inform our design strategy.</p>

		<ol>
			<li>Marketplace is one of several app distribution channels developers use. <b>Hypothesis:</b> Currently we can't compete on prestige or profit. But we can compete on the ease-of-use and transparency of the submission workflow and interface.</li>
			<li>Developers who use Marketplace as a distribution channel do so because their app is first and foremost a Firefox OS or Firefox app. <b>Hypothesis:</b> Marketplace developers will not submit Android-only apps. <b><a href="https://github.com/tsmuse/FirefoxMarketplaceDevPagesDesign/issues/24" target="_blank">Please discuss in this Github issue</a></b>.</li>
			
		</ol>

		
		
	</div>
	
