---
layout: MarketplaceUXSpec
multipage: true
multiURL: projectOverview.html
multisequence: one
---	

<div class="container">
	<h1>Project Overview</h1>

	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. -->
	{% if page.multipage %}
		{% include homePagination.html %}
	{% endif %}

	<div class="col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">
		<h3>Situation</h3>
		<p class="longText">
			The existing Firefox Marketplace Developer Site (aka devhub) has been largely ignored in the last year while pieces of the site have been patched as needed to keep up with the expanding feature set of the Firefox Marketplace. Recent research by our own Strategy and Insights team has shown that across all apps ecosystems developer perception is lowest when it comes to submitting and marketing applications (see: <a href="research/140507-Dev-Journey.pdf">The App Developer Experience.</a>).
		</p>

		<h3>Mission</h3>
		<ul class="longText">
		 	<li>Create a positive app submision/management experience for developers.</li>
		 	<li>Use that positive experience as a point of differentiation from our competitors.</li>
		</ul>

		<h3>Attitude</h3>
		<ul class="longText">
		 	<li>We want developers to see the Firefox Marketplace as the "Developer Friendly App Store." </li>
		 	<li>We want more developers to create apps and more developers to maintain/upgrade their apps - leading to a larger, more dynamic Marketplace.</li>
		</ul>

		<h3>Project Context</h3>
		<p class="longText">
			This project is the initial step in taking the Firefox Marketplace "devhub" from where it is today to being the "The Developer Friendly App Store." All aspects of the site are currently under consideration for redesign. This document describes a developer submission and management experience as we, Mozilla, believe it should be. This document is, more than anything else, a description of a destination not the finalized map on how to get there. However, we will try our best to provide an initial plan on how to get to this version of the Marketplace "devhub" through draft user and design stories.  
		</p>
		<p class="longText">
			The entire contents of this document is currently "in-progress." We invite you to participate in this design project by submitting and participating in discussions in the Open Issues section as well as forking this repository and submitting pull requests against the document.
		</p>
		
	</div>
	
		
