---
layout: MarketplaceUXSpec
multipage: true
multiURL: projectGoals.html
multisequence: two
---	

<div class="container">

	<h1>Goals &amp; Metrics</h1>

	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. -->
	{% if page.multipage %}
		{% include homePagination.html %}
	{% endif %}

	<div class="col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">
		
		<h3>Goals</h3>
		<ul class="longText">
			<li>Move the devhub experience from "tedious and confusing" to "developer friendly." Make developers feel positive about their experiences of submitting (and maintaining) a Marketplace app.
				<br><a href="experienceStrategyOverall.html">See the overall Experience Strategy for devhub &raquo;</a>
				<br><a href="experienceStrategyAppSub.html">See the Experience Strategy for the app submission flow &raquo;</a>
			</li>

			<li>Increase number of apps submitted by improving the submission and maintenance flows.</li>

			<li>Increase number of apps actively maintained/upgrade by engaging with developers before, during, and after the submission (and maintenance) flows.</li>

			<li>Increase consumer sense that Firefox Marketplace is a dynamic (vs stagnant) app store.</li>

		</ul>
		
		<h3>Success Metrics</h3>
		<ul class="longText">
			
			<li>n% increase in quantity of app submissions within the first six months of this design being fully implemented</li>
			
			<li>25% decrease in submission flow abandonment</li>
			
			<li>Improved quality of app description content within six months of this design being fully implemented:
				<ul>
					<li> n% increase in localized translations of app details content</li>
					<li> n% increase in privacy privacy policies submitted</li>
				</ul>
			</li>
		</ul>
	</div>
