---
layout: MarketplaceUXSpec
multipage: false
---	

<div class="container">

	<div class="col-sm-3 col-md-3 col-lg-3">
	</div>
	
	<div class="col-sm-9 col-md-9 col-lg-8">
  
  	<h1>User Research</h1>
  	
  	<p class="longText"><a href="https://docs.google.com/a/mozilla.com/document/d/1KkcmK_U4Wa74XPxLs7v08vjgSiO9KQ3HQTQ1ol_KyAI/edit">Final Recommendations</a></p>
	
	  <p class="longText">To get access to the research videos, please email <a href="mailto:bram@mozilla.com" rel="nofollow">bram@mozilla.com</a>
	
	  <h2>App Manifest File Research</h2>
	  
	  <p class="longText"><a href="https://docs.google.com/a/mozilla.com/document/d/1uNWd1JGreobxFOsXb1ZN2oaLl72eMY0PJQuw3XGfxLk/edit">Preliminary recommendations for App Manifest File</a></p>
	  
	  <h4>Test #1 – Pilot</h4>
	  
	  <p class="longText">Date: July 9, 2014</p>
	  
	  <p class="longText">This test was a pilot: done to test our instructions. No analysis was made, and the test instruction was modified for test #2.</p>
	  
	  <h4>Test #2</h4>
	  
	  <p class="longText">Date: July 9, 2014</p>
	  
	  <ul class="longText">
	    <li><a href="http://ezoehunt.github.io/manifest_testing/instructions_071314.html">Test #2 Instructions</a></li>
	    <li>Test #2 Videos
	      <ol>
	        <li><a href="https://www.usertesting.com/videos/QahTrP91WeHg6HqeI10m-g?back=study_1130684">Participant A</a></li>
	        <li><a href="https://www.usertesting.com/videos/W4engbTjn2FDGLRMsc0wBg?back=study_1130684">Participant B</a></li>
	        <li><a href="https://www.usertesting.com/videos/kBhN8c00zkwaAej2Vtth1Q?back=study_1130684">Participant C</a></li>
	        <li><a href="https://www.usertesting.com/videos/x6DlxNBS3KVZJX9Kf_ez2w?back=study_1130684">Participant D</a></li>
	        <li><a href="https://www.usertesting.com/videos/ffHp3unQ0nqgs60LaGBEiw?back=study_1130684">Participant E</a></li>
	        <li><a href="https://www.usertesting.com/videos/X4mx8A-5GHfxf8RzcnJtIg?back=study_1130684">Participant F</a></li>
	      </ol>
	    </li>
	    <li><a href="https://docs.google.com/a/mozilla.com/spreadsheets/d/1Tp47VJHTsInnX4lSIn68PgBikGep8QJpyGe_U3cODEY/edit">Test #2 Raw Data</a></li>
	   <li><a href="https://docs.google.com/a/mozilla.com/document/d/1qAxj66TR8UTrCHveof7fMvyoWmipJG57HN0abxiqPqs/edit">Test #2 Observations</a></li>
	  </ul>
	  
	  <h4>Test #3</h4>
	  
	  <p class="longText">Date: July 13, 2014</p>
	  
	  <p class="longText">While test #1–#3 were running, the MDN documentation page was rewritten in parallel.</p>
	  
	  <ul class="longText">
	    <li><a href="http://ezoehunt.github.io/manifest_testing/instructions_071314.html">Test #3 Instructions (identical to Test #2 Instructions)</a></li>
	    <li>Test #3 Videos
	      <ol>
	        <li><a href="https://www.usertesting.com/videos/ugHULiEcHPr5gDnvZ9w9cA?back=study_1131701">Participant A</a></li>
	        <li><a href="https://www.usertesting.com/videos/DFknsHUEH10kAXVkZ19Ing?back=study_1131701">Participant B</a></li>
	        <li><a href="https://www.usertesting.com/videos/aHRXqIfjP_x_aBYMkvVNlw?back=study_1131701">Participant C</a></li>
	        <li><a href="https://www.usertesting.com/videos/FeUGE8eFQS9ODlFwLHk3ZA?back=study_1131701">Participant D</a></li>
	        <li><a href="https://www.usertesting.com/videos/8ZRwzeEjXGChBsxRKMErCQ?back=study_1131701">Participant E</a></li>
	        <li><a href="https://www.usertesting.com/videos/M8sakGG1kp_eCuQEiOzGAA?back=study_1131701">Participant F</a></li>
	      </ol>
	    </li>
	    <li><a href="https://docs.google.com/a/mozilla.com/spreadsheets/d/1zhcTOofmKh42RJNG00ia2RJa3469EazIrkqq1APPGME/edit">Test #3 Raw Data</a></li>
	    <li><a href="https://docs.google.com/a/mozilla.com/document/d/1yDLOxYnPdkVIszCv5ep49uCfWHCK6pGrSWjSCv1jGEI/edit">Test #3 Observations</a></li>
	  </ul>
	  
	  <h4>Test #4 – New MDN Documentation</h4>
	  
	  <p class="longText">Date: July 18, 2014</p>
	  
	  <p class="longText">This session tested the new MDN documentation page. It was thrown out because only one participant submitted a manifest file that the instruction had asked for. No analysis was made, and the instruction was clarified for Test #5.</p>
	  
	  <h4>Test #5</h4>
	  
	  <p class="longText">Date: July 19, 2014</p>
	  
	  <p class="longText">This session tested the new MDN documentation page for App Manifest File.</p>
	  
	  <ul class="longText">
	    <li><a href="http://ezoehunt.github.io/manifest_testing/instructions_071914.html">Test #5 Instructions</a></li>
	    <li>Test #5 Videos
	      <ol>
	        <li><a href="https://www.usertesting.com/videos/LC_U_0tPYtYy6y47gRomgg?back=study_1138451">Participant A</a></li>
	        <li><a href="https://www.usertesting.com/videos/jj6BGm7m1DL2gswwv8jo_w?back=study_1138451">Participant B</a></li>
	        <li><a href="https://www.usertesting.com/videos/3al1aQ564qT_Y5stnp_i9g?back=study_1138451">Participant C</a></li>
	        <li><a href="https://www.usertesting.com/videos/cVZ9QZQIKTh_av2yWxr_UA?back=study_1138451">Participant D</a></li>
	        <li><a href="https://www.usertesting.com/videos/iMhglw2YFAQZq8CJtRY8xQ?back=study_1138451">Participant E</a></li>
	        <li><a href="https://www.usertesting.com/videos/JfszpxHiQUpf55hFBKIICA?back=study_1138451">Participant F</a></li>
	      </ol>
      </li>
	    <li><a href="http://ezoehunt.github.io/manifest_testing/mdn_instructions.html">Rewritten MDN documentation – App Manifest File</a></li>
	    <li><a href="https://docs.google.com/a/mozilla.com/spreadsheets/d/1r1MQoRwymK1sm9fq4G640rJXlQuWvwVMlW3ugliAynU/edit">Test #5 Raw Data</a></li>
	    <li><a href="https://docs.google.com/a/mozilla.com/document/d/1hTIDzMb3AV6E7OhvwCOpXVKnXc95PXCBr_U_iS1lyIU/edit">Test #5 Observations</a></li>
	  </ul>
	  
	  <h4>Test #6 – Sample App Manifest File</h4>
	  
	  <p class="longText">Date: July 31, 2014</p>
	  
	  <p class="longText">This session looked to see whether providing a downloadable sample App Manifest file will increase success and correctness rate.</p>
	  
	  <ul class="longText">
	    <li><a href="http://ezoehunt.github.io/manifest_testing/instructions.html">Test #6 Instructions</a></li>
	    <li>Test #6 Videos
	      <ol>
	        <li><a href="https://www.usertesting.com/videos/OJE_rRcB2bt0tTB-8kWSDA?back=study_1148761">Participant A</a></li>
	        <li><a href="https://www.usertesting.com/videos/auPZu_jIYP31vQ4lBWiFTA?back=study_1148761">Participant B</a></li>
	        <li><a href="https://www.usertesting.com/videos/l9DZjCtOzZF6c9-tcM9KcQ?back=study_1148761">Participant C</a></li>
	        <li><a href="https://www.usertesting.com/videos/Hovl2KYkmOEZqSotXQ_glA?back=study_1148761">Participant D</a></li>
	        <li><a href="https://www.usertesting.com/videos/O18w6oKuJ7ZLJegvXhwiTQ?back=study_1148761">Participant E</a></li>
	        <li><a href="https://www.usertesting.com/videos/mKaA-qPqoBrz7x81Fjvirg?back=study_1148761">Participant F</a></li>
	      </ol>
      </li>
	    <li><a href="http://ezoehunt.github.io/manifest_testing/sample_manifest_blank.webapp">Sample App Manifest File</a></li>
	    <li><a href="https://docs.google.com/a/mozilla.com/spreadsheets/d/1OGTonzB6KxkxoQafqSVk18JutEVWBNCYyBt8JWoPt4U/edit">Test #6 Raw Data</a></li>
	    <li><a href="https://docs.google.com/a/mozilla.com/document/d/1T4vusKC6HkNKYfF1Esv84MmYerY7vWSsMkAgxBC68BU/edit">Test #6 Observations</a></li>
	  </ul>
	  
	  <h2>Marketplace Config File Research</h2>
	  
	  <p class="longText"><a href="https://docs.google.com/a/mozilla.com/document/d/1l0pIVEosyvb3ZZ-EL32dbSUiBDwWvdZwnc1K8qS4Ajg/edit">Preliminary recommendations for Marketplace Config File</a></p>
	  
	  <h4>Test #1</h4>
	  
	  <p class="longText">Date: July 25, 2014</p>
	  
	  <p class="longText">This session tested the new MDN documentation page for Marketplace Config File.</p>
	  
	  <ul class="longText">
	    <li>Due to test instruction not linking to the correct HTML file, all 6 participants failed to submit a config file that the instruction had asked for.</li>
	    <li>However, 2 participants reported the error. When an error is reported, UserTesting allows rerun.</li>
	    <li>After correcting the test instruction, the 2 tests were reran and analysed.</li>
	    <li>Our sample size had always been 6. To get 4 more respondents, we ran Test #2.</li>
	   </ul>
	  
	  <ul class="longText">
	    <li><a href="http://ezoehunt.github.io/manifest_testing/instructions-marketplace-config_072714.html">Test #1 Instructions</a>
	    <li>Test #1 Videos
	      <ol>
	        <li><a href="https://www.usertesting.com/videos/eopfcCzUte9j0VaZQavHUQ?back=study_1142153">Participant C</a></li>
	        <li><a href="https://www.usertesting.com/videos/yFmdp7iGqNkyZQ4byffBJg?back=study_1142153">Participant D</a></li>
	      </ol>
      </li>
	    <li><a href="http://ezoehunt.github.io/manifest_testing/mdn_instructions_marketplace_config.html">Rewritten MDN documentation – Marketplace Config File</a>
	    <li><a href="https://docs.google.com/a/mozilla.com/spreadsheets/d/1GqQtYsICXlopE_2JjWhSpUys8l6_e3KSjYNCCsJjmtA/edit">Test #1 Raw Data</a></li>
	    <li><a href="https://docs.google.com/a/mozilla.com/document/d/1fNC19vAEcWjIdYVPR0eE-GTVnRFfRY3eWjae4H6GYhU/edit">Test #1 Observations</a></li>
	  </ul>
	  
	  <h4>Test #2</h4>
	  
	  <p class="longText">Date: July 28, 2014</p>
	  
	  <p class="longText">This session is identical to Test #1, and was designed to complete our total sample size of 6.</p>
	  
	  <ul class="longText">
	    <li><a href="http://ezoehunt.github.io/manifest_testing/instructions-marketplace-config.html">Test #2 Instructions</a>
	    <li>Test #2 Videos
	      <ol>
	        <li><a href="https://www.usertesting.com/videos/eHXqMqLV1zM2TEcsJ74Whw?back=study_1143916">Participant A</a></li>
	        <li><a href="https://www.usertesting.com/videos/byc3zl3gjv8wVhShtbZ9mQ?back=study_1143916">Participant B</a></li>
	        <li><a href="https://www.usertesting.com/videos/diptT4cWjdSlGGWYjmqnyQ?back=study_1143916">Participant C</a></li>
	        <li><a href="https://www.usertesting.com/videos/3svwZP0h7y_a_sf6FoJSUw?back=study_1143916">Participant D</a></li>
	      </ol>
      </li>
	    <li><a href="https://docs.google.com/a/mozilla.com/spreadsheets/d/172GmDixYrvmK3Twyk9JOYxT5-woDIl26JB9vdrRhujc/edit">Test #2 Raw Data</a></li>
	    <li><a href="https://docs.google.com/a/mozilla.com/document/d/19Lg4GWAtOELSEi3zpAlDEZbmOCC5t82wGmSc4Sl383Q/edit">Test #2 Observations</a></li>
	  </ul>
	  
    <!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. -->
  	{% if page.multipage %}
  		{% include homePagination.html %}
  	{% endif %}
		
	</div>
	
		
