---
layout: MarketplaceUXSpec
multipage: false
---	

<div class="container">
	<h1>User Stories Addressed</h1>
	<h2 class="subhead">App Availability, Pricing, &amp; Payments</h2>
	<div class="col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-4 col-lg-7 col-lg-offset-5">
		<ol class="longText">
			<li><span>I want to choose where my app is available on a per-country basis.</span>
						<p>
							<a href="https://github.com/tsmuse/FirefoxMarketplaceDevPagesDesign/issues/2">Related Github issue</a>  |  <a href="">Related Design Story</a>  |  <a href="http://cbwmwo.axshare.com" target="_blank">View prototype</a>
						</p>
					</li>
					
					<li><span>I want to choose where my app is available on a per-carrier basis.</span>
						<p><a href="https://github.com/tsmuse/FirefoxMarketplaceDevPagesDesign/issues/2">Related Github issue</a>  |  <a href="#">Related Design Story</a>  |  <a href="http://cbwmwo.axshare.com" target="_blank">View prototype</a>
						</p>
					</li>
					
					<li><span>I want to price my app on a per-country basis.</span>
						<p><a href="https://github.com/tsmuse/FirefoxMarketplaceDevPagesDesign/issues/2">Related Github issue</a>  |  <a href="design-pricing.html">Related Design Story</a>  |  <a href="http://cbwmwo.axshare.com" target="_blank">View prototype</a>
						</p>
					</li>
					
					<li><span>I want to price my app on a per-carrier basis.</span>
						<p><a href="https://github.com/tsmuse/FirefoxMarketplaceDevPagesDesign/issues/2">Related Github issue</a>  |  <a href="#">Related Design Story</a>  |  <a href="http://cbwmwo.axshare.com" target="_blank">View prototype</a>
						</p>
					</li>
					
					<li><span>I want to make my app available only through specific carriers.</span>
						<p>E.g., if I have an exclusive arrangement with a specific carrier in a country.</p>
						<p><a href="https://github.com/tsmuse/FirefoxMarketplaceDevPagesDesign/issues/2">Related Github issue</a>  |  <a href="#">Related Design Story</a>  |  <a href="http://cbwmwo.axshare.com" target="_blank">View prototype</a>
						</p>
					</li>

					<li><span>I want to the option to use Credit Card pricing, Carrier pricing, or a combination of both.</span>
						<p>E.g., If Mexico has both Credit Card and Carrier pricing, I want to be able to choose Credit Card pricing only.</p>
						<p><a href="https://github.com/tsmuse/FirefoxMarketplaceDevPagesDesign/issues/6">Related Github issue</a>  |  <a href="design-pricing.html">Related Design Story</a>  |  <a href="http://cbwmwo.axshare.com" target="_blank">View prototype</a>
						</p>
					</li>
					
					<li><span>I want to use standard pricing (vs fixed pricing).</span>
						<p><a href="https://github.com/tsmuse/FirefoxMarketplaceDevPagesDesign/issues/2">Related Github issue</a>  |  <a href="#">Related Design Story</a>  |  <a href="http://cbwmwo.axshare.com" target="_blank">View prototype</a>
						</p>
					</li>
					
					<li><span>I want to override fixed pricing.</span>
						<p><a href="https://github.com/tsmuse/FirefoxMarketplaceDevPagesDesign/issues/2">Related Github issue</a>  |  <a href="#">Related Design Story</a>  |  <a href="http://cbwmwo.axshare.com" target="_blank">View prototype</a>
						</p>
					</li>
					
					<li><span>I want to override carrier pricing.</span>
						<p><a href="https://github.com/tsmuse/FirefoxMarketplaceDevPagesDesign/issues/2">Related Github issue</a>  |  <a href="#">Related Design Story</a>  |  <a href="http://cbwmwo.axshare.com" target="_blank">View prototype</a>
						</p>
					</li>
					
					<li><span>I want subscription pricing for my app.</span>
						<p><a href="https://github.com/tsmuse/FirefoxMarketplaceDevPagesDesign/issues/2">Related Github issue</a>  |  <a href="#">Related Design Story</a>  |  <a href="http://cbwmwo.axshare.com" target="_blank">View prototype</a>
						</p>
					</li>
		</ol>
		
	</div>
	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html. 
		NOTE: This is currently broken in the Jekyll ver of this template.
		-->
		{% if page.multipage %}
			{% include homePagination.html %}
		{% endif %}
